@charset 'utf-8';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrap {
  width: 50%;
  margin: 0 auto;
  border: 1px solid #000;

  display: flex;
  justify-content: space-between;
}

.box {
  width: 150px;
  height: 150px;
}

.box1 {
  background: red;
}
.box2 {
  background: orange;
}
.box3 {
  background: yellow;
}
.box4 {
  background: green;
}
.box5 {
  background: blue;
}
